  /* con esto seleciono el tipo de letra de el body y el  margen */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Esto seria el color del fondo , el color de la letra de la cabezera  */
header {
    background-color: black;
    color: #fbfdfbec;
    padding: 10px;
    text-align: center;
}
/* Esto corresponderia al navegador , el color de fondo  */
nav {
    background-color: #444;
    padding: 10px;
    color: white;
    text-align: center;
}
/* esto sirve para el color y el margen de el navegador de los enlaces */
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
/* Esto es el main */
main {
    display: flex;
    padding: 20px;
}
/* esto es para ajustar el ancho de la parte secciones  */
aside {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}
/* Esto es para ajustar el largo  */
section {
    width: 75%;
    padding: 20px;
}
/* Esto es para el color del fondo del articulo , para los bordes y el margen */
article {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}
/* esto es para la parte inferior de la pagina , para ajustar el color y el texto  */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

figure {
    margin: 0;
}
/* para determinar el ancho de las figuras de la pagina  */
figure img {
    width: 100%;
}
#video {
  display: flex;  
justify-content: center;
align-items: center;
}

.video {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

}