body {
  font-family: Arial, sans-serif; /* tipo de letra utilizado para el index */
  margin: 0; 
  padding: 0; 
  line-height: 1.6; 
  width: 1200px; 
  margin: auto; 
  box-sizing: border-box; 
}

header {
  background-color: #000911; /* Color de fondo */
  display: flex; 
  justify-content: center; /* Esto es para centrar el contenido */
  padding: 15px; 
  position: relative; 
}

header h1 {
  font-family: 'Poppins', sans-serif; /* letra para el encabezado */
  color: #FFFFFF; /* Color */
  margin: 0; 
  font-size: 30px; 
}

.menuprincipal {
  background-color: #ca7676; 
  padding: 10px;
  text-align: right; 
  border-radius: 5px; /* esto es para poner el borde redondeado */
  margin-top: 15px;  
}

.menuprincipal nav a:hover {
  color: #FFFFFF;
}

main {
  padding: 0;
  width: 100%;
  margin: 0 auto; /* Centra el elemento horizontalmente */
}

/* TEXTO */
.tituloproyectos {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 43px; 
  margin: 20px 0; /* Un margen de 20 píxeles arriba y abajo; y 0 píxeles a los dos lados */
}

.enlacecuadrados {
  background-color: #0124c2; 
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  height: 60px;
 
  margin: 20px 0px;
  padding: 10px;
  display: flex;
  align-items: center; /* Los elementos se alinea en el centro */
  justify-content: center; /* El texto se alinea en el centro */
  border-radius: 10px;
}

.enlacecuadrados a {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 80px;
}

.enlacecuadrados:hover {
  background-color: #0c0d0e; /* Esto es cuando pasas el mouse cambie de color  */
}

.enlacecuadrados:hover a {
  color: #FFFFFF; /* Cambiar color de la tipografía al pasar el raton  */
}



